*.pyc
dev.*
*.swp
pip-log.txt
cache/
media/css/compiled/*.css
apps/styles/.sass-cache/
env
.venv

conf/local.py

.project
.pydevproject

*~
.ropeproject
.DS_Store
*.log
*.bak
_generated_media
_generated_media_names.py
.vagrant
.stages
static/

*.dat
imported-sass-frameworks/
Vagrantfile

deploy/fabric/development.yml

ratchet/local.ratchet.db
Vagrantfile
.idea
.vagrant*
.system_name
secure/
.dropbox
